PROJECT_NAME="test-thirty-seventh"
PROJECT_SLUG=test-thirty-seventh
GITHUB_REPOSITORY=test-thirty-seventh
LINEAR_PROJECT_KEY=TEST_THIRTY_SEVENTH
NODE_ENV=development
SERVER_PORT=8080
FRONTEND_PORT=3000
API_PORT=8000
